<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenix.hello.repository.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.fenix.hello.model.SysUser">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="Name" property="name" jdbcType="VARCHAR"/>
        <result column="Age" property="age" jdbcType="INTEGER"/>
        <result column="Phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, age, phone
    </sql>
    <select id="selectByPrimaryKey" parameterType="_INTEGER" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where name like CONCAT('%,',#{name},',%')
    </select>

    <select id="selectPagedUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  sys_user
    </select>
</mapper>